@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.animate-zoom {
  animation: zoom 6s ease-in-out forwards;
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.06);
  }
}

.hero-zoom {
  animation: zoom 4s ease-in-out forwards;
}
